#main-title{
	text-align: center;	
	margin: 10px;
}


*{
	font-family: 'Advent Pro', sans-serif;
}

section.main-page{
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
}

section.map{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.location-container{
	display: grid;
	grid-row: 1;
	grid-column: 3;
	border-radius:25px;
	background-color: lightgray;
	margin:15px;
	padding:10px;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}

#delivery-status-container{
	display: none;
}
.food-container{
	grid-template-columns: 1fr 1fr;
}
.map-container{
	display: grid;
	grid-row: 4;
	grid-column: 2;
	border-radius:25px;
	background-color: lightgray;
	margin:15px;
	padding:10px;
	
}

.map-input-container{
	display: grid;
	grid-row: 1;
	grid-column: 2;
	border-radius:25px;
	background-color: lightgray;
	margin:15px;
	padding:10px;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}



.food-list{
	grid-row: 1;
	grid-column: 2;
	border-radius:25px;
	background-color: lightgray;
	margin:15px;
	padding:10px;
}

.location-list{
	grid-row: 1;
	grid-column: 3;
	border-radius:25px;
	background-color: lightgray;
	margin:15px;
	padding:10px;
}

.container{
	grid-row: 2;
	grid-column: 1/ 5;
	border-top: solid black;
}

.container h2, .container p{
	text-align: center;
}

.food-list h3, .location-list h3{
	margin-top: 2px;
	text-align: center;
	text-decoration: underline;
}

#order-button-div{
	grid-row: 1;
	grid-column: 4;
}

#order-button{
	background-color: lightblue;
	text-align: center;	
	margin: 73px;
	border: lightblue;
}

.map-input-button{
	background-color: lightblue;
	text-align: center;
	border: lightblue;
	margin: 2px;
}

.map-coord-input{
	margin: 2px;
}

#enter-lat-text{
	width: 90%;
	grid-column: 1;
	grid-row: 4;
}

#enter-long-text{
	width: 90%;
	grid-column: 1;
	grid-row: 5;
}

#lat-enter{
	grid-column: 2;
	grid-row: 4;
}

#long-enter{
	grid-column: 2;
	grid-row: 5;
}

#map-go-button{
	width: 80%;
	grid-column: 1;
	grid-row: 1;
}

#herak-go-button{
	width: 80%;
	grid-column: 2;
	grid-row: 2;
}

#foley-go-button{
	width: 80%;
	grid-column: 1;
	grid-row: 2;
}

#hemm-go-button{
	width: 90%;
	grid-column: 2;
	grid-row: 3;
}

#crosby-go-button{
	width: 70%;
	grid-column: 1;
	grid-row: 3;
}

#map-layer-selector{
	grid-column: 2;
	grid-row: 1;
}


























