#main-title{
	text-align: center;	
	margin: 10px;
}


*{
	font-family: 'Advent Pro', sans-serif;
}

section.main-page{
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
}

.location-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.food-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.food-list{
	grid-row: 1;
	grid-column: 2;
	border-radius:25px;
	background-color: lightgray;
	margin:15px;
	padding:10px;
}

.location-list{
	grid-row: 1;
	grid-column: 3;
	border-radius:25px;
	background-color: lightgray;
	margin:15px;
	padding:10px;
}

.container{
	grid-row: 2;
	grid-column: 1/ 5;
	border-top: solid black;
}

.container h2, .container p{
	text-align: center;
}

.food-list h3, .location-list h3{
	margin-top: 2px;
	text-align: center;
	text-decoration: underline;
}
