{% extends "layout.html" %}
<!-- 
	Progress bar from: https://www.w3schools.com/bootstrap/bootstrap_progressbars.asp
	Flask main site: http://flask.palletsprojects.com/en/1.1.x/
	Flask quickstart: http://flask.palletsprojects.com/en/1.1.x/quickstart/#quickstart
-->
{% block headers %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Advent+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='home.css') }}"> 
<script type="text/javascript" src="{{ url_for('static', filename='home.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.11/lib/OpenLayers.js"></script>
{% endblock %}

{% block content %}
<div class="logout-div"><a class="map-input-button" href="{{ url_for('logout') }}"><strong>Logout</strong></a></div>
<h1 id="main-title"><strong>Welcome {{ name }}</strong></h1>
	<section class="main-page">
		<div class="food-list">
			<h3>Step 1: Select Food Items</h3>
			<form method="POST" action="/home"> 
				{% for store in stores %}
					<button type="submit" name="store_buttons" value="{{store['username']}}">{{store['username']}}</button>  
				{% endfor %}
			</form>

			<div class="food-container">
				{% if foods != 0 %}
					{% for food in foods %}
						<div>
							<input id="food-checkboxes" class="food-items" type="checkbox" name="food" value={{food['food_item']}}>{{food['food_item']}}, {{food['food_price']}}<br>
						</div>
					
					{% endfor %}
				{% endif %}
			</div>
		</div>
		
		<div class="location-list">
			<h3>Step 2: Pick a Delivery Location</h3>
			<div class="map-input-container" id="map-input-container-div">
				<input id="herak-go-button" class="map-input-button" type="button" value="Herak">
				<input id="foley-go-button" class="map-input-button" type="button" value="Foley">
				<input id="hemm-go-button" class="map-input-button" type="button" value="Hemmingson">
				<input id="crosby-go-button" class="map-input-button" type="button" value="Crosby">
			</div>
		</div>
		
		<div id="order-button-div">
				<h3>Step 3: Place Order</h3>
				<input id="order-button" type="button" value="Place Order">
		</div>

	</section>

	<section class="del-status">
		<div class="container" id="delivery-status-container">
			<h2>How close is your delivery?</h2>
				<div class="progress"> 
					<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"> 0% </div> 
				</div> 
				<p id="status"><strong>Status:</strong> Processing</p>
		</div>
	</section>
		
	
	</section>
		
	<section class="map">
		
		<div class="map-container">
			<iframe
				width="600"
				height="400"
				frameborder="0"
				scrolling="no"
				marginheight="0"
				marginwidth="0"
				src="#">
			</iframe>
		</div>
		<div class="map-container" id="map-container">
			<!-- OSM map goes here -->
		</div>
	</section>

{% endblock content %}
