<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Advent+Pro&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='style.css') }}"> 
		{% if title %}
			<title>{{title}}</title>
		{% else %}
			<title>GUADR</title>
		{% endif %}
	</head>

	<body>
		{% block content %}
		{% endblock %}
	<script>
	
	function generateUrl(lat, long, lat_offset, long_offset){
		var url = "https://www.openstreetmap.org/export/embed.html?bbox=";
		url = url + (long - long_offset) + "%2C" + (lat - lat_offset) + "%2C";
		url = url + (long + long_offset) + "%2C" + (lat + lat_offset);
		url = url + "&layer=mapnik&marker=" + lat + "%2C" + long;
		return url;
	}

	window.addEventListener("load", function() {
		document.getElementById("order-button").addEventListener("click", function(){
			document.getElementById("delivery-status-container").style.visibility = "visible"; 
		});
	});
	
	var default_latitude_offset = 0.000633;
	var default_longitude_offset = 0.000755;
	var herak_lat = 47.666859;
	var herak_long = -117.401717;
	var foley_lat = 47.666668;
	var foley_long = -117.400645;
	var hemm_lat = 47.667322;
	var hemm_long = -117.399905;

	window.addEventListener("load", function() {
		document.getElementById("map-go-button").addEventListener("click", function(){
			var user_lat =parseFloat(document.getElementById("latitude_enter").value);
			var user_long = parseFloat(document.getElementById("longitude_enter").value);
			var url = generateUrl(user_lat, user_long, default_latitude_offset, default_longitude_offset);
			document.getElementById("openstreetmap").src=url;
		});
	});

	window.addEventListener("load", function() {
		document.getElementById("herak-go-button").addEventListener("click", function(){
			var url = generateUrl(herak_lat, herak_long, default_latitude_offset, default_longitude_offset);
			document.getElementById("openstreetmap").src=url;
		});
	});

	window.addEventListener("load", function() {
		document.getElementById("foley-go-button").addEventListener("click", function(){
			var url = generateUrl(foley_lat, foley_long, default_latitude_offset, default_longitude_offset);
			document.getElementById("openstreetmap").src=url;
		});
	});

	window.addEventListener("load", function() {
		document.getElementById("hemm-go-button").addEventListener("click", function(){
			var url = generateUrl(hemm_lat, hemm_long, default_latitude_offset, default_longitude_offset);
			document.getElementById("openstreetmap").src=url;
		});
	});

	</script>
	</body>

</html>
