{% extends "layout.html" %}

{% block headers %}
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='signup.css') }}"> 
	<script type="text/javascript" src="{{ url_for('static', filename='signup.js') }}"></script>
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
  	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  	<title>Create Account</title>
{% endblock %}

{% block content %}
<!--Some of the following HTML, along with the correspoding CSS file, were adapted from an
	  implementation given here: https://speckyboy.com/login-pages-html5-css/ -->

<div class="main">
    <p class="sign">Create Account</p>
    <form class="form1" method="POST" action="/signup"> 
      <input class="un " type="text" placeholder="Username" name="UserN" required>
      <input class="pass" type="password" placeholder="Password" name="UserP" required>
      <input class="pass" type="password" placeholder="Reenter Password" name="UserP2" required>
      <button class="submit">Create New Account</button>
	</form>
  <p class="signup" ><a href="{{ url_for('login') }}">Return to login page</a></p>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p class="flashed">{{ message }} </p>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>






{% endblock %}
